.all-compensations-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  max-width: 1630px;

  &--left {
    padding: 8px 100px 8px 8px;
    max-width: 400px;
    max-height: 40px;
  }

  &--right {
    padding: 10px 100px;
    max-width: 250px;
    max-height: 48px;
  }
}
