.date-picker-compensations {
  margin: 0;
  border: 2px solid var(--comp-color-gray);
  border-radius: 12px;
  max-width: 224px;

  &__button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
    background-color: var(--color-white);
    cursor: pointer;
    gap: 8px;

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }

  &__arrow {
    margin-left: 16px;
  }
}

.react-datepicker-wrapper {
  width: auto;
}
