.create-compensations {
  margin-top: 56px;
  border: 1px solid var(--comp-color-gray);
  border-radius: 4px;
  padding: 32px 40px;
  width: 100%;
  height: 100%;
  max-width: 830px;
  font-weight: 500;
  background: var(--color-white);

  &__header {
    margin: 0;
    font-weight: inherit;
    font-size: 26px;
    line-height: 1.4;
  }

  &__button {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    border: 2px solid var(--comp-color-gray);
    border-radius: 10px;
    padding: 10px 72px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    line-height: 1.4;
    background-color: var(--color-white);
    cursor: pointer;

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }

  &__error-message {
    margin-top: 24px;
    min-height: 21px;
    font-size: 15px;
    line-height: 1;
    color: #da2228;
  }
}
