.list-types-compensations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 8px;

  &__button {
    border: 2px solid var(--comp-color-gray);
    border-radius: 20px;
    padding: 8px 24px;
    font-family: Montserrat, Rubik, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    background-color: var(--color-white);
    cursor: pointer;

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
}
