.compensations-filter {
  display: flex;
  margin: 0;
  margin-left: auto;
  border: 2px solid var(--comp-color-gray);
  border-radius: 12px;
  padding: 0;
  max-width: 200px;
  max-height: 40px;
  background: var(--color-white);

  &__button {
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    min-width: 98px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
    background: var(--color-white);
    cursor: pointer;

    &:hover,
    &:active {
      opacity: 0.75;
    }

    &--active {
      background: var(--comp-color-light-gray);
    }
  }
}
